@model _6_2_Patial.Product

<tr>
    <td>
        @Html.DisplayFor(modelItem =>Model.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem =>Model.Stock)
    </td>
    <td>
        @Html.DisplayFor(modelItem =>Model.Category.CategoryName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id =Model.ProductId }) |
        @Html.ActionLink("Details", "Details", new { id =Model.ProductId }) |
        @Html.ActionLink("Delete", "Delete", new { id =Model.ProductId })
    </td>
</tr>