@model IEnumerable<Task_13_2.Models.Major>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name_Major)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description_Major)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faculty.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name_Major)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description_Major)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faculty.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
